/* .carrito {
    margin: 10px;
}

.carrito p {
    position: absolute;
    top: 44px;
    right: 4px;
    padding: 0.1rem;
    min-width: 1rem;
    background-color: rgb(252, 118, 106);
    border-radius: 100%;
    color: white;
}

.carrito img {
    width: 50%;
    height: 50%;
} */

.cart-btn {
    margin: 15px;
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
    outline: inherit;
    width: 3.5rem;
    height: 1.5rem;

}

.cart-widget {
    width: 40px;
}

.cart-btn p {
    position: absolute;
    top: -12px;
    right: -18px;
    padding: 0.1rem;
    min-width: 2rem;
    background-color: rgb(255, 21, 0);
    border-radius: 50%;
    color: white;
    font-size: 1.2rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}